font-family = "JetBrainsMono Nerd Font"
font-size = 14
font-thicken = true
theme = light:Atom One Light,dark:Atom One Dark
window-padding-x = 10
window-padding-y = 8
window-save-state = always
{{ if eq .chezmoi.os "darwin" -}}
macos-titlebar-style = transparent
background-blur = true
{{ end -}}
background-opacity = 0.97
cursor-style = block
cursor-style-blink = false
copy-on-select = clipboard
mouse-hide-while-typing = true
confirm-close-surface = false
scrollback-limit = 10000000
